.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.key-textarea {
  display: block;
  margin: 0 auto;
  border: 1px solid green;
}

.key-container {
  margin: 0 auto;
  border: 1px solid red;
  width: 80%; 
  height: 300px;
}
